.cover-main img {
    width:200px;
}

section.cover .cover-main>p:last-child a:last-child {
    background-color: var(--theme-color,#fb8200);
    color: #fff;
}

section.cover .cover-main>p:last-child a{
    border: 1px solid var(--theme-color,#fb8200);
}

.sidebar ul li.active>a {
    border-right: 2px solid;
    color: var(--theme-color,#fb8200);
    font-weight: 600;
}

.sidebar-nav > p{
    text-align: center;
}

.logoSideBar{
    width: 60%;
}

.logoSubSideBar{
    width: 20%;
}

.markdown-section a {
    color: var(--theme-color,#fb8200);
    font-weight: 600;
}