.cover-main img {
    width:200px;
}

section.cover .cover-main>p:last-child a:last-child {
    background-color: var(--theme-color,#fb8200);
    color: #fff;
}

section.cover .cover-main>p:last-child a{
    border: 1px solid var(--theme-color,#fb8200);
}

.sidebar ul li.active>a {
    border-right: 2px solid;
    color: var(--theme-color,#fb8200);
    font-weight: 600;
}

.sidebar-nav > p{
    text-align: center;
}

.logoSideBar{
    width: 60%;
}

.logoSubSideBar{
    width: 20%;
}

.markdown-section a {
    color: var(--theme-color,#fb8200);
    font-weight: 600;
}

.imageContent { 
    display: block;
    margin: auto;
    padding: 3em;
}

.navContent{
    text-decoration: none;
}

.navContent:hover{
    color:#f6a753;
}

.markdown-section h2{
    border-bottom: 1px solid var(--theme-color,#e3e3e3);
    padding-bottom: 0.5em;
}

.markdown-section h1 a:hover, .markdown-section h2 a:hover{
    text-decoration: none;
}

.markdown-section h1 a:hover span, .markdown-section h2 a:hover span{
    color:#f6a753;
}

.sidebar ul li a:hover{
    text-decoration: none;
    color:#f6a753;
}

.navBlock{
    display: flex;
    justify-content: space-between;
}